*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
 
}

html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

.header{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/

}
.title{
    font-weight: 700;
    font-family: "Poppins", sans-serif
}

.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.categories{
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    gap: 35px;
   /* justify-content: space-around;
    width: 50%;
    align-content: center;
    margin: auto;*/
}

.icons{
    display: inline-flex;
    gap: 10px;
    
    
}
.iconUSD{
    display: flex;
    gap: 5px;
    font-size: large;
    
}

.fa-magnifying-glass, .fa-user, .fa-heart, .fa-cart-shopping{
    font-size: large;
}

/*---------------------carousel---------------------*/

/* * {box-sizing:border-box}

/* Slideshow container 
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}*/

/* Hide the images by default 
.mySlides {
  display: none;
}*/

/* Next & previous buttons 
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}*/

/* Position the "next button" to the right 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}*/

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}*/

/* Caption text 
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators 

.dot {
  cursor: pointer;
  height: 8px;
  width: 80px;
  margin: 0 2px;
  background-color: #bbb;
  
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation 
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
} */

/*@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.homepage-card1{
    display: flex;
    gap: 24px;
}

.img-style1{
    width: 250px;
    height: 88px;
}*/

.carousel-control-prev{
    justify-content: start;
    padding-left: 24px;
}

.carousel-control-next{
    justify-content: end;
    padding-right: 24px;
}

/*---------------------------------------------------------------------*/

.homecard1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.product {
    position: relative;
    overflow: hidden;
  }
  

  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 197px;
    height: 397px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 297px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .card-btn {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px;
    width: 80%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: black;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: white;
    color: black;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
  }
  
  .product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
  }
  
  .price {
    font-weight: 900;
    font-size: 20px;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  